<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admindash</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary"style="border-radius: 20px;">
        <div class="container-fluid">
          <img style="height:50px; width:50px;  border-radius: 60%;" src="https://logo.com/image-cdn/images/kts928pd/production/3d0a1942ea617825e187c3c9a3811a5d93a331be-370x366.png?w=1080&q=72" >
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
              <a class="nav-link" href="{% url 'myblog' %}">My blog</a>
              <a class="nav-link" href="{% url 'addblog' %}">Add blog</a>
              <a class="nav-link " href="{% url 'changepass' %}">Change Password</a>
              <a class="nav-link" href="{% url 'logout' %}">logout</a>
              <a href="{% url 'profile' %}">
                <img src="{{ request.user.profile.image.url }}" alt="profile" style="width:42px;height:42px;">
                </a>
            </div>
          </div>
          <div class="d-flex align-items-center">
            {% for user in members %}
              {% if user.uEmail == request.session.email %}
                <a href="{% url 'profile' %}">
                  <img
                  src="{{ user.images }}"
                  class="rounded-circle"
                  height="45"
                  width="48"
                  alt="User Image"
                  loading="lazy"
                  />
                </a>  
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </nav>
      {% for field in blog %}
      <div class="container py-3 gradient-custo">
        <div class="card">
          <div class="row ">
      
            <div class="col-md-7 px-3">
              <div class="card-block px-6">
                <p class="card-text">{{ field.date }}</p>
                <i class="fa fa-quote-left text-black"></i>
                
                <h4 class="card-title">{{field.title}}</h4>
                <p class="card-text">
                    {{field.description}}
                </p>
              </div>
            </div>
       
            <div class="col-md-5">

                <div>
                    <img src="{{ field.images }}" alt="image" class="img-fluid" style="width:100%; height:100%; border-radius: 7px;">
                </div>

            </div>

            </div>
            
            {% for comment in comments %}
            {% if comment.blog_id == field.blog_id %}
            <div class="card-block px-6 ">
                <div class="d-flex justify-content-between align-items-center font-bold">
                    <p class="mb-1">
                        {{ comment.comment_id }} <span class="small">{{ comment.commentDate }}</span>
                    </p>
                </div>
                <p class="small mb-0">
                    {{ comment.commentContent }}
                </p>
            </div>
            {% endif %}
            {% endfor %}

          </div>
        </div>
        {% endfor %}
</body>
</html>