<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HandelUser</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
  body {
    background-color: #11878b;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .card {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(154, 15, 15, 0.1);
    border-radius: 20px;
    margin: 20px auto;
    max-width: 800px;
  }

  .card-body {
    padding: 20px;
  }

  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-text {
    margin-bottom: 20px;
  }

</style>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark p-5  pb-2 pt-3">
    <a class="navbar-brand text-white mx-4" href="#"> Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white mx-3" href="{% url 'admindash' %}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white mx-3" href="{% url 'handeuser' %}">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white mx-3" href="{% url 'logout' %}">Log out</a>
          </li>
      </ul>
    </div>
  </nav>    
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7 w-75 p-3">
                    <div class="card rounded-3">
                        <div class="card-body p-4">
                            <h4 class="text-center my-3 pb-3">Authors</h4>
                            <table class="table mb-4">
                                <tbody>
                                    {% for user in authors %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ user.uName }}</td>
                                        <!-- <td>{{ user.uEmail }}</td> -->
                                        <td>{{ user.about }}</td>
                                        <td>
                                            {% if user.is_active == True %}
                                            <button class="btn btn-danger" type="button" >
                                                <a style="color: white;" href="{% url 'userDeactivate' user.membersId %}">Deactivate</a>
                                            </button>
                                            {% else %}
                                            <button class="btn btn-primary" type="button" >
                                                <a style="color: white;" href="{% url 'userActivate' user.membersId %}">Activate</a>
                                            </button>
                                            {% endif %}
                                        </td>  
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>