<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Sign Up</h2>
                        <form action="{% url 'registration' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="fname">Name:</label>
                                <input type="text" class="form-control" id="fname" name="uName" required>
                            </div>

                            <div class="form-group">
                                <label for="uEmail">Email:</label>
                                <input type="email" class="form-control" id="uEmail" name="uEmail" required>
                            </div>

                            <div class="form-group">
                                <label for="about">About:</label>
                                <input type="text" class="form-control" id="about" name="about" required>
                            </div>

                            <div class="form-group">
                                <label for="uPass">Password:</label>
                                <input type="password" class="form-control" id="uPass" name="uPass" required>
                            </div>

                            <div class="form-group">
                                <label for="images">Images:</label>
                                <input type="file" class="form-control-file" id="images" name="images" required>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                        </form>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-secondary"><a href="{% url 'login' %}" class="text-white">Login</a></button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
